@{
    //ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2">
            <label for="building">Building</label>
            <select id="building">
            </select>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
            <label for="object">Object</label>
            <select id="object">
            </select>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
            <label for="data-field">Data Field</label>
            <select id="data-field">
            </select>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
            <label for="start-date">Start Date</label>
            <input type="date" id="start-date" name="start-date" />
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
            <label for="end-date">End Date</label>
            <input type="date" id="end-date" name="end-date" />
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
            <button type="button" onclick="service.getReadingData();">Search</button>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div id="chartContainer" style="height: 400px; width: 100%;"></div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        service.getBuildingData();
    });
</script>