  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="form-inline">
        <div class="form-group">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <label for="building">Building</label>
            <select name="building" id="building" class="form-control" [(ngModel)]="buildingId" (change)="getReadingData();">
              <option *ngFor="let building of buildingList" value={{building.Id}}>
                {{building.Name}}
              </option>
            </select>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <label for="building">Object</label>
            <select name="object" id="object" class="form-control" [(ngModel)]="objectId" (change)="getReadingData();">
              <option *ngFor="let object of objectList" value={{object.Id}}>
                {{object.Name}}
              </option>
            </select>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <label for="building">Data Field</label>
            <select name="data-field" id="data-field" class="form-control" [(ngModel)]="dataFieldId" (change)="getReadingData();">
              <option *ngFor="let dataField of dataFieldList" value={{dataField.Id}}>
                {{dataField.Name}}
              </option>
            </select>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <label for="start-date">Start Date</label>
            <input type="date" id="start-date" name="start-date" [value]="startDate| date:'yyyy-MM-dd'" (input)="startDate=($event.target.valueAsDate)" />
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <label for="start-date">End Date</label>
            <input type="date" id="end-date" name="end-date" [value]="endDate| date:'yyyy-MM-dd'" (input)="endDate=($event.target.valueAsDate)" />
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <button type="button" class="btn btn-primary" (click)="getReadingData();">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
    </div>
  </div>

